/* #container {
	margin: 0px auto;
	width: 300px;
	height: 300px;
	border: 2px #333 solid;
} */

*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section:nth-child(1) {
	position: absolute;
	height: 200px;
	top: 0

}

video {
	width: 100vw;
	height: 200px;
	background-color: #666;
    object-fit: cover;
}

section:nth-child(2) {
	margin-top: 200px;
}