/* #container {
	margin: 0px auto;
	width: 300px;
	height: 300px;
	border: 2px #333 solid;
} */

*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

video {
	width: 100vw;
	height: 300px;
	background-color: #666;
    object-fit: cover;
}

ul {
	list-style-type: none;
}