*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'League Spartan', sans-serif;
}

html {
	background: #eee;
	min-height: 100vh;
}

/* FONTS */

/* font-family: 'League Spartan', sans-serif;
font-family: 'Raleway', sans-serif; */

section:nth-child(1) {
	position: absolute;
	height: 200px;
	top: 0

}

video {
	width: 100vw;
	height: 200px;
	background-color: #666;
    object-fit: cover;
}

section:nth-child(2) {
	margin-top: 200px;
	border-top: 5px solid royalblue;
}

section:nth-child(2) h2 {
	max-width: 300px;
	text-align: center;
	margin: 1em auto .3em auto;
	color: royalblue;
}

section:nth-child(2) h3 {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
}

section:nth-child(2) p {
	margin: .5em auto;
	text-align: center;
}

section:nth-child(3), ul, li {
	display: none;
}

figure {
	width: 8em;
	height: 8em;
	border-radius: 1em;
	background: #fff;
	margin: 0 auto;
	padding: .5em;
}

img {
	height: 100%;
	margin: 0 auto;
}